<!DOCTYPE html>
<html>
<head>
  <title>SSE Debug Test</title>
</head>
<body>
  <h1>🧠 SSE Debug Test</h1>
  <div id="main" style="display: flex;">

    <div id="text-content"style="flex: 1 1 50%;">
      <h2>text</h2>
      </div>



      <div id="json-content"style="flex: 1 1 50%;">
        <h2>json</h2>
      </div>
  </div>




  <script>
    console.log("✅ JS loaded");

    const text_source = new EventSource("/text-content");

    text_source.onopen = () => {
      console.log("📡 Connected to /events");
    };

    text_source.onmessage = (event) => {
      console.log("📨 Event received:", event.data);
      
      const logDiv = document.getElementById("text-content");
      const p = document.createElement("p");
      p.textContent = `⏱ ${event.data}`;
      logDiv.appendChild(p);
    };

    text_source.onerror = (err) => {
      console.error("🔥 SSE error:", err);
    };



    const json_source = new EventSource("/json-content");

    json_source.onopen = () => {
      console.log("📡 Connected to /json-content");
    };

    json_source.onmessage = (event) => {
      console.log("📨 Event received:", event.data);
      const data = JSON.parse(event.data);
      
      const logDiv = document.getElementById("json-content");
      const p = document.createElement("p");
      p.textContent = `random string: ${data.string} random number: ${data.number}`;
      logDiv.appendChild(p);
    };

    json_source.onerror = (err) => {
      console.error("🔥 SSE error:", err);
    };
    
  </script>
</body>
</html>
