<!DOCTYPE html>
<html>
<head>
  <title>SSE Text Stream</title>
</head>
<body>
  <h1>🧠 SSE Text Stream</h1>
  <div id="main" style="display: flex;">

    <div id="text-content"style="flex: 1 1 50%;">
      <h2>text streaming with redis pubsub⬇️</h2>
      </div>
  </div>




  <script>
    console.log("✅ JS loaded");

    const text_source = new EventSource("/text-content");

    text_source.onopen = () => {
      console.log("📡 Connected to /events");
    };

    text_source.onmessage = (event) => {
      console.log("📨 Event received:", event.data);
      
      const logDiv = document.getElementById("text-content");
      const p = document.createElement("p");
      p.textContent = `🗣️ ${event.data}`;
      logDiv.appendChild(p);
    };

    text_source.onerror = (err) => {
      console.error("🔥 SSE error:", err);
    };

  </script>
</body>
</html>
